@media (max-width:768px){
  #homeDiv{
    flex-direction: column !important;
  }
}



a{
    /* list-style-type:none; */
    text-decoration: none !important;
    color: blue !important;
}

iframe{
  height: 450px;
}

a:hover{
  color: black !important;
  opacity: 50%;
}